# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj_

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/x64/
/.vs/
/Debug/
/packages/
/Project_Template.vcxproj.filters
/Project_Template.vcxproj.user